h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

main{
    position: relative;
    text-align: center;
    background-image: url("h1background.jpg");
}

.brushhead{
    font-family: helvetica;
    background-color: mediumspringgreen;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.brushes{
    font-family: Helvetica;
}

.brushes p a{
    color: blue;
    font-weight: bold;
}

.framehead{
    font-family: helvetica;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.frame{
    font-family: Helvetica;
}

.frame p a{
    color: blue;
    font-weight: bold;
}

.painthead{
    font-family: helvetica;
    background-color: skyblue;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.paint{
    font-family: Helvetica;
}

.paint p a{
    color: blue;
    font-weight: bold;
}